@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
  /*background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
  padding-bottom: 0;*/
}


/* typography */

.title {
  color: #FFF;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.title span {
  font-weight: 300;
  display: block;
  font-size: .9em;
}


@media (min-width: 60rem) {
  .title {
    font-size: 3.7rem;
  }
}


/* buttons */

.button {
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
  background-color: black;
}

.button-accent {
  color: #00ff6c;
  border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
  background: #00ff6c;
  color: #232323;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

/*header*/

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

/*.backdrop {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
} */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  /*color: #FFFFFF;*/
  /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
  transition: 0.5s;
  /*border-radius: 5px 20pc 5px;*/
  /*background-image: linear-gradient(to right, dimgray 0%, grey 51%)*/
  background-color: black;
  color: #00ff6c;
  border: 1px solid #00ff6c;
}

nav a:hover,
nav a:focus {
  color: blue;
}

@media (min-width: 60rem) {
  .logo{
    float: left;
  }
  nav {
    float: right;
  }
}


/*home-hero*/

.home-hero {
  background-image: url(../imgs/heroimage2.jpg);
  padding: 10em 0;
  background-size: cover;
  background-position: center;
  color: #FFF;
}

@media (min-width: 60rem) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}
