@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}


/*header*/

header {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  background: #EE6F57;
  color: #FFFFFF;
  border-radius: 5px 20pc 5px;
}

nav a:hover,
nav a:focus {
  color:#1F073A;
}


/*home-hero*/

.home-hero {
  background-image: url(../imgs/heroimage.jpg);
  padding: 10em 0;
}
